<h1>angular-lib</h1>
<h2>Package:
    <a href="https://www.npmjs.com/package/@marco-eckstein/angular-lib-common"
    >@marco-eckstein/angular-lib-common</a>
</h2>
<h3>ExternalHRefModule</h3>
<ul>
    <li>
        <a class="a1" href="https://en.wikipedia.org">This link should open in a new window/tab.</a>
    </li>
    <li>
        <a class="a2" href="" target="_blank">This link should open in a new window/tab.</a>
    </li>
    <li>
        <a class="a3" href="">This link should open in same window/tab.</a>
    </li>
</ul>
